<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
    <h3>Hakkımızda</h3>
    <p>Blog kelimesi “web” ve İngilizce “kayıt” anlamına gelen “log” kelimelerinin birleşiminden oluşuyor. Başlangıçta bloglar...</p>
    <div class="read">
        <a asp-area="" asp-controller="About" asp-action="Index" class="btn btn-primary read-m">Daha Fazla</a>
    </div>
</div>