
@{
    ViewData["Title"] = "Blog Detay";
}

<section class="banner-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                @await Component.InvokeAsync("BlogDetails", new { id = ViewData["BlogId"] })
                @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.BlogId })
                @{ 
                    Comment commentModel = new Comment
                    {
                        BlogId = (int)ViewData["BlogId"]
                    };
                }
                <partial name="~/Views/Comments/AddComment.cshtml" model="commentModel" />
            </div>
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <partial name="~/Views/NewsLetters/AddSubscribe.cshtml" />
                    @await Component.InvokeAsync("CategoryList")
                    @await Component.InvokeAsync("BlogsOfWriter", new {writerId = ViewBag.WriterId })
                    <div class="single-gd tech-btm">
                        <h4>Recent Post</h4>
                        <div class="blog-grids">
                            <div class="blog-grid-left">
                                <a href="single.html">
                                    <img src="~/CoreBlogTheme/images/b1.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="blog-grid-right">

                                <h5>
                                    <a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
                                </h5>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>