
@{
    ViewData["Title"] = "Blog";
}
<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Blogs" asp-action="Index">Blog</a>
    </li>
    <li class="breadcrumb-item active">Ana sayfa</li>
</ol>
@await Component.InvokeAsync("BlogListComponentPartial")