<head>
    <title>@ViewData["Title"] - CoreBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content=".Net Core 6, CoreBlog, Blog, Post, Asp.Net, EntityFramework" />
    @await Component.InvokeAsync("StylesLayoutComponentPartial")
</head>