@{ 
    Layout = "~/Views/Shared/_WriterPanelLayout.cshtml";
    ViewData["Title"] = "Yazar Dashboard";
}
<div class="page-header">
    <h3 class="page-title"> Test Sayfası </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Test Sayfası</li>
        </ol>
    </nav>
</div>
<h3>Yazar</h3>